/* Write your code here. */
.emoji-game-container {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  width: 100vw;
  min-height: 100vh;
}

.emoji-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  margin-top: 0px;
  height: 100%;
  width: 100%;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .emoji-cards-container {
    padding: 50px 30px 50px 30px;
  }
}

.win-lose-card-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .win-lose-card-container {
    align-items: flex-start;
    min-height: 750px;
  }
}
